
body{
  background-color: rgba(22, 136, 182, 0.85);
}

.user-stuff{
  display: inline;
}

.user-stuff image_tag{
  border-radius: 50%;
}

header {
	height: 130px;
	width: 100%;
	padding: 1% 2% 0 2%;
}

h1{
  font-size: 18px;
}

.nav{
  background-color: rgba(255, 255, 255, 0.5);
}

ul.nav li{
  display: inline;
  padding-right: 5px;
  list-style: none;
  font-size: 18px;
  font-weight: bold;
  padding: 40px;
}

#suggestion-wrapper {
  border: .25rem solid white;
  background-color: rgba(255, 255, 255, 0.5);
  width: 80%;
  overflow: hidden;
  margin-bottom: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

#pairing-wrapper {
  border: .25rem solid white;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 40%;
  overflow: hidden;
  margin-bottom: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}


#food-suggestion {
  text-align: center;
  width: 49%;
  float: left;
}

#music-suggestion {
  text-align: center;
  width: 49%;
  float: left;
}

span{
  text-align: center;
  width: 49%;
  float: right;
}

iframe {
  float: right;
}















/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
